<template>
    <div class="page">
        <div class="card">
            <div class="card-header">
                Отчет для пользователя {{ q.user_name }} {{ periodFormat() }}

                <div class="dropdown download-btn">
                    <button
                        class="btn btn-secondary btn-sm dropdown-toggle"
                        type="button"
                        id="dropdownMenuButton"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        Скачать отчет
                    </button>
                    <div
                        class="dropdown-menu"
                        aria-labelledby="dropdownMenuButton"
                    >
                        <div class="dropdown-item" @click="download('csv')">CSV</div>
                        <div class="dropdown-item" @click="download('xml')">XML</div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <h5>Итого по кошелькам</h5>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Кошелек</th>
                            <th scope="col">Тип</th>
                            <th scope="col" class="right">Сумма</th>
                            <th scope="col" class="right">Сумма USD</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="item in sum"
                            :key="`sum_${item.id}_${item.is_in}`"
                        >
                            <td v-html="accountFormat(item.account)"></td>
                            <td v-html="directionFormat(item.is_in)"></td>
                            <td class="right">{{ sumFormat(item.sum) }}</td>
                            <td class="right">{{ sumFormat(item.sum_usd) }}</td>
                        </tr>
                    </tbody>
                </table>

                <br />

                <h5>Операции</h5>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Дата</th>
                            <th scope="col">Кошелек</th>
                            <th scope="col">Операция</th>
                            <th scope="col">Валюта операции</th>
                            <th scope="col" class="right">Сумма</th>
                            <th scope="col" class="right">Сумма USD</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="item in list"
                            :key="`transaction_${item.id}`"
                        >
                            <td>{{ item.id }}</td>
                            <td>
                                {{
                                    dateFormat(new Date(item.created_at), true)
                                }}
                            </td>
                            <td v-html="accountFormat(item)"></td>
                            <td v-html="operationFormat(item)"></td>
                            <td>{{ item.currency.code }}</td>
                            <td class="right">{{ sumFormat(item.value) }}</td>
                            <td class="right">
                                {{ sumFormat(item.value_usd) }}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <hr />

                <p-pagination
                    v-model="page"
                    :last="last"
                    @input="load"
                ></p-pagination>

                <br />

                <button type="button" class="btn btn-secondary" @click="goBack">
                    Назад
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        components: {
            "p-pagination": () => import("../components/block/pagination.vue")
        },
        data() {
            return {
                list: [],
                sum: [],
                page: 1,
                last: 1
            };
        },
        computed: {
            q() {
                return this.$route.query;
            }
        },
        mounted() {
            this.load();
            this.getSum();
        },
        methods: {
            async load() {
                const { q } = this;

                const query = [
                    `user_name=${q.user_name}`,
                    `date_from=${q.date_from}`,
                    `date_to=${q.date_to}`,
                    `limit=10`,
                    `page=${this.page}`
                ];

                const { data } = await this.$axios.get(
                    `/api/reports?${query.join('&')}`
                );

                this.$set(this, "list", data.data);
                this.$set(this, "page", data.current_page);
                this.$set(this, "last", data.last_page);
            },
            async getSum() {
                const { q } = this;

                const { data } = await this.$axios.get(
                    `/api/reports/sum?user_name=${q.user_name}&date_from=${q.date_from}&date_to=${q.date_to}`
                );

                this.$set(this, "sum", data);
            },
            accountFormat(item) {
                const account = item.accounts.find(
                    t => t.user_id === parseInt(this.$route.query.user_id)
                );

                return `#${account.id} ${account.currency.code}`;
            },
            operationFormat(item) {
                if (item.accounts.length < 2) {
                    return '<span class="text-success">Зачисление</span>';
                }

                const accounts = {};

                item.accounts.forEach(t => {
                    if (t.pivot.is_in) {
                        accounts.to = t;
                    } else {
                        accounts.from = t;
                    }
                });

                const full = [];

                if (accounts.from.user_id === parseInt(this.q.user_id)) {
                    full.push('<span class="text-danger">Списание</span>');
                } else {
                    full.push('<span class="text-success">Зачисление</span>');
                }

                full.push("<br>");
                full.push(this.operationAccountFormat(accounts.from));
                full.push(" → ");
                full.push(this.operationAccountFormat(accounts.to));

                return full.join(" ");
            },
            operationAccountFormat(account) {
                return `${account.user.name} (${this.accountFormat(account)})`;
            },
            accountFormat(account) {
                return `#${account.id} ${account.currency.code}`;
            },
            directionFormat(is_in) {
                if (is_in) {
                    return '<span class="text-success">Зачисление</span>';
                }

                return '<span class="text-danger">Списание</span>';
            },
            sumFormat(sum) {
                return Number(Math.round(sum * 100) / 100).toFixed(2);
            },
            pad(val) {
                const n = parseInt(String(val));
                let result;

                if (isNaN(n)) {
                    result = null;
                } else if (n < 10) {
                    result = `0${n}`;
                } else {
                    result = n;
                }

                return result;
            },
            dateFormat(date, time) {
                const d = String(date.getDate());
                const m = String(date.getMonth() + 1);
                const y = String(date.getFullYear());

                let result = "";

                if (time) {
                    const h = String(date.getHours());
                    const i = String(date.getMinutes());
                    const s = String(date.getSeconds());

                    result += `${this.pad(h)}:${this.pad(i)}:${this.pad(s)} `;
                }

                result += `${this.pad(d)}.${this.pad(m)}.${y}`;

                return result;
            },
            periodFormat() {
                const result = ["за период "];

                if (this.q.date_from !== "") {
                    result.push(
                        `с ${this.dateFormat(new Date(this.q.date_from), false)}`
                    );
                }

                if (this.q.date_to !== "") {
                    result.push(
                        `по ${this.dateFormat(new Date(this.q.date_to), false)}`
                    );
                }

                if (result.length === 1) {
                    return "";
                }

                return result.join(" ");
            },
            goBack() {
                this.$router.push({ name: "index" });
            },
            download(format) {
                const { q } = this;

                const query = [
                    `user_name=${q.user_name}`,
                    `date_from=${q.date_from}`,
                    `date_to=${q.date_to}`,
                    `format=${format}`
                ];

                location.href = `/api/reports/download?${query.join('&')}`;
            }
        }
    };
</script>

<style>
    .right {
        text-align: right !important;
    }

    .download-btn {
        float: right;
    }
</style>
