<template>
    <div class="page">
        <div class="card">
            <div class="card-header">Пользователи</div>

            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Имя</th>
                            <th scope="col">Страна</th>
                            <th scope="col">Город</th>
                            <th scope="col">Кошельки</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            v-for="user in list"
                            :key="user.id"
                            role="button"
                        >
                            <td>{{ user.id }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.city.country.name }}</td>
                            <td>{{ user.city.name }}</td>
                            <td>
                                {{
                                    user.accounts
                                        .map(t => `#${t.id} ${t.currency.code}`)
                                        .join(", ")
                                }}
                            </td>
                            <td>
                                <button
                                    type="button"
                                    class="btn btn-secondary"
                                    @click="modalOpen(user)"
                                >
                                    Отчет
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <hr />

                <p-pagination
                    v-model="page"
                    :last="last"
                    @input="load"
                ></p-pagination>
            </div>
        </div>

        <div :class="modal_class" :style="modal_style" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Выберите период отчета</h5>
                        <button
                            type="button"
                            class="close"
                            @click="modalClose"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label>Начало периода</label>
                            <input type="date" class="form-control" v-model="report.date_from">
                        </div>

                        <div class="form-group">
                            <label>Конец периода</label>
                            <input type="date" class="form-control" v-model="report.date_to">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            @click="modalClose"
                        >
                            Отмена
                        </button>

                        <button type="button" class="btn btn-primary" @click="open">
                            Показать отчет
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        components: {
            "p-pagination": () => import("../components/block/pagination.vue")
        },
        data() {
            return {
                list: [],
                page: 1,
                last: 1,
                is_modal: false,
                report: {
                    user_id: 0,
                    user_name: "",
                    date_from: "",
                    date_to: ""
                }
            };
        },
        computed: {
            modal_class() {
                const result = ["modal"];

                if (this.is_modal) {
                    result.push("show fade");
                }

                return result;
            },
            modal_style() {
                const result = {};

                if (this.is_modal) {
                    result.display = "block";
                    result["padding-right"] = "17px";
                }

                return result;
            }
        },
        mounted() {
            this.load();
        },
        methods: {
            async load() {
                const { data } = await this.$axios.get(
                    `/api/users?page=${this.page}`
                );

                this.$set(this, "list", data.data);
                this.$set(this, "page", data.current_page);
                this.$set(this, "last", data.last_page);
            },
            open() {
                this.$router.push({
                    name: "report",
                    query: this.report
                });
            },
            modalOpen(user) {
                this.$set(this, "is_modal", true);

                this.$set(this.report, "user_id", user.id);
                this.$set(this.report, "user_name", user.name);
            },
            modalClose() {
                this.$set(this, "is_modal", false);

                this.$set(this, "report", {
                    user_id: 0,
                    user_name: "",
                    date_from: "",
                    date_to: ""
                });
            }
        }
    };
</script>

<style lang="scss">
    .modal {
        background-color: rgba(0, 0, 0, 0.5);
    }
</style>