<template>
    <div v-if="last && last !== 1" class="pagination-block">
        <button
            type="button"
            class="btn btn-secondary"
            :disabled="value === 1"
            @click="prevPage"
        >
            ←
        </button>

        <div class="btn-group" role="group">
            <button
                v-for="(page, key) in page_list"
                :key="key"
                :disabled="page === '...'"
                type="button"
                class="btn btn-secondary"
                :class="String(page) === String(value) ? 'active' : ''"
                @click="pageOpen(page)"
            >
                {{ page }}
            </button>
        </div>

        <button
            type="button"
            class="btn btn-secondary"
            :disabled="value === last"
            @click="nextPage"
        >
            →
        </button>
    </div>
</template>

<script>
import Vue from "vue";

export default Vue.extend({
    props: {
        value: {
            type: Number,
            required: true
        },
        last: {
            type: Number,
            required: true
        }
    },
    data() {
        return {
            class_list: ["pagination"],
            page_number: "0",
            validate: {}
        };
    },
    computed: {
        page_list() {
            const result = [];
            const last = Number(this.last);
            const current = Number(this.value);
            const add = (t) => result.push(String(t));

            if (last <= 13) {
                for (let i = 1; i <= this.last; i++) {
                    add(i);
                }
            } else if (current <= 7) {
                for (let i = 1; i <= 8; i++) {
                    add(i);
                }

                ["...", last - 3, last - 2, last - 1, last].forEach(add);
            } else if (current >= last - 6) {
                [1, 2, 3, 4, "..."].forEach(add);

                for (let i = last - 7; i <= last; i++) {
                    add(i);
                }
            } else {
                [1, 2, 3, "..."].forEach(add);
                [
                    current - 2,
                    current - 1,
                    current,
                    current + 1,
                    current + 2
                ].forEach(add);
                ["...", last - 2, last - 1, last].forEach(add);
            }

            return result;
        }
    },
    created() {
        this.$set(this, "page_number", String(this.value || 0));
    },
    methods: {
        pageOpen(page) {
            if (page === "...") {
                return;
            }

            this.$emit("input", Number(page));
            this.$set(this, "page_number", String(page));
        },
        prevPage() {
            if (this.value === 1) {
                return;
            }

            this.pageOpen(this.value - 1);
        },
        nextPage() {
            if (this.value === this.last) {
                return;
            }

            this.pageOpen(this.value + 1);
        }
    }
});
</script>
