<template>
    <div class="container">
        <br />
        <div class="row justify-content-center">
            <div class="col-md-12">
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>
